* {
  box-sizing: border-box;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
}
table,
tr,
td,
th {
  border: 1px black solid;
  text-align: center;
}
body{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
    background-color: black;
}
#heading{
    background-color: darkorchid;
}
table {
  margin: 0 auto;
  width: 50vw;
  height: 50vh;
  background-color: white;

}
td {
  margin: 0 auto;
  width: 5vw;
  height: 5vh;

}
td:nth-child(odd){
    background-color: gray;
    color:white;
}
@media (orientation : landscape){
    body{
        background-color: gray;
    }
    td:nth-child(even){
        background-color: black;
        color: white;
    }
    td:nth-child(odd){
        background-color: white;
        color: black;
    }
    #heading{
        background-color: chocolate;
        color: cyan;
    }
}
